.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.wrapper a {
    text-decoration: none;
    color: inherit;
}

.h1 {
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #2DAFF5;
}

.h1 a {
    text-decoration: none;
}

.h1 span {
    color: black;
}

.navigation {
    width: 100%;
    background-color: #35444F;
    /*height: 72px;*/
    margin: 38px auto 48px;
}

.nav-menu {
    display: flex;
    justify-content: center;
}

.nav-menu li {
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 26px 33px 19px 33px;
    border-left: 1px solid #fff;
    /*border-right: 1px solid #fff;*/
}
.br {
    border-right: 1px solid white;
}

.nav-menu li:hover {
    background-color: #222F3A;

}

/*.functional-nav {*/
/*    padding: 26px 33px 19px;*/
/*}*/

/*.ramda-nav {*/
/*    padding: 26px 38px 19px;*/
/*}*/

/*.fantasy-nav .node-nav {*/
/*    padding: 26px 40px 19px;*/
/*}*/

.main {
    display: grid;
    grid-template-areas: "aside img"
        ". img"
        ". first-text"
        ". second-text";
    margin-bottom: 54px;
}

.aside {
    grid-area: aside;
    width: 344px;
    height: 399px;
    border: 1px solid #111;
    margin-right: 52px;
}

.aside-menu {
    display: flex;
    flex-direction: column;
    /*gap: 52px;*/


}

.aside li {
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    padding: 22px 0 22px 44px
}

.aside-menu li:hover {
    background-color: #DBDBDB;


}
.aside-menu a:hover {
    color: #111;
    padding-left: 30px;
}

.image {
    grid-area: img;
    height: 529px;
    width: 880px;
    border: 1px solid #111;
    display: flex;
    justify-content: center;
    align-items: center;

}
 
.image img {
    /* padding: 75px 268px 73px 297px;
 */

}

.image img:hover {
    transition: 0.9s;
    transform: scale(1.4);
}

.first-text {
    grid-area: first-text;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 37px;
    margin-bottom: 34px;
    width: 880px;
}

.second-text {
    grid-area: second-text;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    width: 885px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: rgba(99, 105, 110, 0.48);
    /*height: 69px;*/
    padding: 20px 40px 21px
}

.footer-menu {
    display: flex;

}

.footer-menu li {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    margin-left: 15px;
}

.footer-menu a:hover {
    color: #096c9e;
    padding-bottom: 13px;
    border-bottom: 1px solid #2DAFF5;

}
