@import './abstracts/reset';
@import './abstracts/variables';
@import './abstracts/mixin.scss';
@import './components/header';
@import './components/btn.scss';
@import './components/section-people-talking.scss';

* {
    box-sizing: border-box;
}

body {
        font-family: 'Lato', sans-serif;
        font-family: 'Montserrat', sans-serif; 
        font-size: 14px;
        line-height: 14px;
}

.lp-content {
    min-width: $min-content-width;
    max-width: $max-content-width;
    margin: 0 auto;
    padding: 0 10px;
}
