body {
    background-image: url(../img/background.png);
    background-size: cover;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper a {
    text-decoration: none;
}

.text-style {
    font-family: 'Ubuntu';
    font-style: normal;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.jorney {
    padding: 18px 0 18px 79px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}

.jorney:hover,
.rightside-header a:hover,
.head-of-form a:hover {
    color: #01813F;
}

.welcome {
    padding: 18px 79px 18px 27px;
    border-left: 1px solid rgba(255, 255, 255, 0.9);
}
.welcome a {
    color: white;
}

.rightside-header {
    display: flex;
    align-items: center;
}

.header-svg {
    margin-right: 26px;
}
.header svg path:hover {
    fill: #01813F;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    margin-top: 54px;
    margin-bottom: 74px;
    padding: 33px 60px 38px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.head-of-form {
    display: flex;
    justify-content: space-between;
}

.head-of-form a {
    color: #3CB878;
}
.sign-up {
    color: #434343;
    font-size: 20px;
    line-height: 20px;
}
.sign-up::before {
    content: '';
    width: 18px;
    height: 18px;
    position: relative;
    background-color: #3CB878;
    display: inline-block;
    right: 60px;
}
.head-of-form a span {
    text-decoration: underline;
}

.fb-google {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin: 32px 0 31px 0;
}

.facebook-btn,
.google-btn {
    border-radius: 4px;
    padding: 17px 25px 17px 70px;
    font-size: 16px;
    line-height: 16px;
}

.facebook-btn {
    background-color: #305DB8;
}
.facebook-btn:hover {
    background-color: #022263;
}

.facebook-btn::before {
    background-color: #0A162F;
    right: 7px;
}

.fb {
    position: relative;
    top: 6px;
    right: 53px;
}

.facebook-btn::before,
.google-btn::before {
    content: '';
    width: 1px;
    height: 28px;
    opacity: 0.1;
    display: inline-block;
    position: relative;
    top: 10px;
}

.google-btn::before {
    background-color: #2B0D09;
    right: 15px;
}

.google-btn {
    background-color: #DF4A32;
}
.google-btn:hover {
    background-color: #AB1F09;
}

.google {
    position: relative;
    top: 5px;
    right: 55px;
}

.user-inf {
    display: flex;
    flex-direction: column;
}

.or {
    text-align: center;
}

.or::before,
.or::after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 165px;
    background-color: #F2F2F2;
    position: relative;
    bottom: 3px;
}

.or::before {
    right: 5px;
}

.or::after {
    left: 5px;
}

.user-inf-input {
    padding: 15px 0 15px 20px;
    margin: 15px 0;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    color: #434343;
}

.user-inf-input::placeholder {
    color: #BEBEBE;
}

.user-inf-input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}

.agree {
    display: flex;
    gap: 8px;
}

.create-account {
    margin-top: 36px;
}

.create-account a {
    background-color: rgba(60, 184, 120, 0.8);
    padding: 16px 127px;
    border-radius: 4px;
}
.create-account a:hover {
    background-color: #01813F;
}

.agree-terms a {
    color: #3CB878;
}
.agree-terms a:hover {
    text-decoration: underline;
    color: #01813F;
}
