.wrapper {
    background-image: url(../img/background.png);
    background-size: cover;
}
.container {
    max-width: 1366px;
    margin: 0 auto;
}

.text-style {
    font-family: 'Roboto';
    font-style: normal;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    margin-bottom: 17px; 

}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;

}
.logo:hover .img-logo {
    content: url(../img/logo-orange.png);
}
.logo:hover .text-style {
    color: #F26522;
}

.milan-holidays {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.milan-holidays p:first-child {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}

.milan-holidays p:last-child {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-top: 3px;
}


.mail-number {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mail-number p {
    text-align: right;
    padding: 13px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.mail-number a {
    text-decoration: none;
    color: #fff;
}

.tours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
    text-align: center;
    text-decoration: none;
}

.tours a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.img-title {
    position: relative;
    bottom: 40px;
}


.footer {
    margin-top: 49px;
    text-align: center;
}

.footer p {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

.hover-block {
    width: 303px;
    height: 55px;
    background-color: #F26522;
    display: flex;
    justify-content: space-between;
    z-index: -1;
    position: relative;
    bottom: 60px;
}

    .hover-block div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.hover-block div p:first-child {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    padding: 7px 16px 0;
    margin: 0;
}

.hover-block div p:last-child {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding: 0 16px 12px;
    margin: 0;
}

.hover-block p:last-child {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    padding: 29px 16px 12px;
    margin: 0;
}

.arrow {
    padding-left: 16px;
}

.mail-number a:hover {
    color: #F26522;
}


.img-tours:hover .img-title{
    color: #F26522;
}

.img-tours:hover .hover-block {
    z-index: 1;
}