@mixin for-phone-only {
    @media (max-width: 480px) { @content; }
  }
  @mixin for-tablet-only {
    @media (min-width: 481px) and (max-width: 992px) { @content; }
  }
  @mixin for-desktop {
    @media (min-width: 993px) and (max-width: 1200px) { @content; }
  }

  @mixin flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
 
  