@font-face {
    font-family: "Circe";
    src: url(../fonts/CirceRegular.woff2);
}
@font-face {
    font-family: "Gilam";
    src: url(../fonts/Gilam-Regular.woff2);
}
body {
    background-color: #171717;
}

.wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.header-logo {
    box-sizing: content-box;
}

.number-call {
    display: flex;
    gap: 39px;
    align-items: center;
}

.number {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    font-family: "Circe";
}

.number span {
    color: #D6AF76;
}

.call {
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 25px 10px 39px;
    text-decoration: none;
    font-family: "Circe";
}

.call span {
    padding-right: 10px;
}

.caption {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #fff;
    font-family: "Gilam";
}

.first-section .caption {
    margin: 128px auto 41px;
}

.first-section p:nth-child(3) {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 41px;
}

.types-of-work {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 4;
    box-sizing: border-box;
    height: 933px;
    gap: 30px;
}

.work-1,
.work-2,
.work-3,
.work-4,
.work-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    font-family: "Gilam";
}

.work-1 {
    background-color: #634F2C;
    grid-column-start: 1;
    grid-column-end: 3;
}

.work-2 {
    background-color: #B4A385;
    grid-column-start: 3;
    grid-column-end: 5;

}

.work-3 {
    background-color: #E4B564;
    grid-column-start: 5;
    grid-column-end: span 2;
}

.work-4 {
    background-color: #635A4A;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.work-5 {
    background-color: #B08C4D;
    grid-column-start: 4;
    grid-column-end: span 3;
    grid-row-start: 2;
}

.second-section .caption {
    margin: 161px 0 94px;
}

.types-of-machine {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 6;
    color: #fff;
    height: 903px;
    gap: 30px;
    margin-bottom: 363px;
    font-family: "Gilam";
}

.machine-1,
.machine-2,
.machine-3,
.machine-4,
.machine-5,
.machine-6,
.machine-7 {
    display: flex;
    padding: 50px;
}

.machine-1 {
    display: flex;
    flex-direction: column;
    background-color: #0E0E0E;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
}

.machine-1 span {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}
.machine-2 {
    display: flex;
    flex-direction: column;
    background-color: #242424;
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
}
.machine-2 span {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}
.machine-3 {
    background-color: #1F1F1F;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
}

.machine-4 {
    background-color: #1F1F1F;
    grid-column: 1 / span 1;
    grid-row: 3 / span 4;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
}

.machine-5 {
    background-color: #E4B564;
    grid-column: 2 / span 1;
    grid-row: 4 / span 3;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000;
}

.machine-6 {
    background-color: #0E0E0E;
    grid-column: 3 / span 1;
    grid-row: 2 / span 3;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
}

.machine-7 {
    background-color: #0A0909;
    grid-column: 3 / span 1;
    grid-row: 5 / span 2;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
}

.footer-head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.btn-projects {
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 25px 10px 40px;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-family: "Circe";
}

.clients {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
    height: 780px;
    grid-template-areas: "euro euro mavis mavis arsenal arsenal"
        "arsenal-2 arsenal-2 set-group set-group euro-2 euro-2";
    margin-top: 70px;
}
.euroinvest,
.euroinvest-2,
.arsenal,
.arsenal-2,
.set-group,
.mavis {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mavis {
    flex-direction: column;
}
.mavis p {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #fff;
    width: 326px;
    height: 140px;
    text-align: center;
    font-family: "Gilam";
}
.mavis p span {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}
.euroinvest {
    background-color: #634F2C;
    grid-area: euro;
}

.euro-icon,
.euro-icon-2,
.mavis-icon,
.mavis-text,
.arsenal-icon,
.set-group-icon {
    background: transparent;
    color: #fff;
}

.euroinvest-2 {
    background-color: #634F2C;
    grid-area: euro-2;
}

.mavis {
    background-color: rgba(232, 210, 171, 0.76);
    grid-area: mavis;
}

.arsenal {
    background-color: #E4B564;
    grid-area: arsenal;
}

.arsenal-2 {
    background-color: #635A4A;
    grid-area: arsenal-2;
}

.set-group {
    background-color: #B08C4D;
    grid-area: set-group;
}
.third-section {
    background-color: #0E0E0E;
}