
.lp-btn {
    display: inline-block;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    margin: 0;
    text-decoration: none;
    background-color: $primary-color;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.15rem;
    line-height: 1.15rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

}

.lp-btn:hover,
.lp-btn:focus {
    background: #fff;
    color: $primary-color;
}

.lp-btn:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.lp-btn :active {
    transform: scale(0.99);
}