*{
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    min-width: 1200px;
}

.row {
    display: flex;
    justify-content: center;
}

.content {
    max-width: 1160px;
    flex-direction: column;
    align-items: center;
}
.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.header-background {
    background: url(../img/Sections_background/section-1\(header\).jpg);
    padding: 0 0 243px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    align-items: center;
}
.logo_txt_style {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #fff;
}

.logo p:nth-child(2) {
    margin-left: 8px;
}
.logo_txt_style span {
    font-weight: 700;
    color: #18CFAB;
}

.logo_and_menu {
    background:  rgba(94, 93, 88, 0.6);
    align-items: center;
    justify-content: space-around;
}
.logo_img {
    padding: 18px 13px;
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    color: #fff;
    background: url(../img/svg/logo-back.svg);
    background-size: cover;
    background-position: center;
}
.header-menu {
    justify-content: space-between;
    align-items: center;
}
.header-menu-item {
    text-transform: uppercase;
    padding: 48px 21px;
    color: rgba(255, 255, 255, 0.6);
}

.header-menu-item:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}


.header_main_title {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 78px;
    line-height: 80px;
    padding: 21px 0;
}

.second_header_title {
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    color: #fff;
    padding: 264px 0 0;
    text-transform: uppercase;
}

.second_header_title span {
    color: #18CFAB;
}

.header-text {
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.6);
    padding: 0 0 134px;
}

.btn {
    padding: 16px 18px;
    border-radius: 5px;
    margin: 13px;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 -3px 0 0  rgba(255,255,255,1);
}

.btn:nth-child(1) {
    background-color: #18CFAB;

}

.btn:nth-child(2) {
    background-color: #00CBF6;
}
.list {
    width: 100%;
    margin: 8px 0;
}
.list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 85px 0 100px;
}

.list-of-options p:nth-child(even) {
    padding: 58px 0 0;
    color: #fff;
}

.list-item:nth-child(odd) p {
    padding: 48px 0 0 0;
    color: #18CFAB;
}

.list-item:nth-child(even) p {
    padding-right: 58px 0 0 0;
} 
.list-item:nth-child(even) {
    background-color: #18CFAB;
}

.list-item:nth-child(odd) {
    background-color: #1C2A33;
}

.title {
    margin: 91px 0 101px;
    color: #4E4E4E;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    
}


.title::before,
.title::after {
    display: block;
    content: '';
    border-bottom: 1px solid #18CFAB;
    width: 78px;
    position: relative;
}

.title::before {
    top: 60px;
    left: 60px;
}
.services-list {
    margin-bottom: 28px;
}

.item-list-services {
    border: 1px solid #EDEFEF;
    padding: 18px 40px;
    background-color: #F8FCFE;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;  
    cursor: pointer;
}

.item-list-services:hover {
    border: 1px solid #18CFAB;
}

.item-list-services:focus {
    background-color: #18CFAB;
    color: #fff;
}


.title::after {
    top: 31px;
    left: 73px;
}

.service-menu-item {
    display: none;
}

.service-menu-item.item-active {
   display: block;
}

.flex-services {
    display: flex;
    align-items: center;
}

.flex-services img {
    width: 192px;
    height: 132px;
}
.services-content {
    max-width: 1160px;
    margin-bottom: 91px;
}
.services-content p {
    margin-left: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}


.section_buy_and_instal {
    background: url(../img/Sections_background/section-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 127px 0;
}

.buy_and_instal_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    text-transform: uppercase;

}
.buy_and_instal_content {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}

.btn:nth-child(3) {
    background-color: #18CFAB;
    margin-top: 67px;
}

.amazing_work_title::after {
    left: 100px;
}

.amazing_work_title::before {
    left: 90px;
}

.amazing-list {
    padding-bottom: 71px;
}

.amazing-nav-item {
    padding: 18px 16px;
    border: 1px solid #DADADA;
}
.amazing-nav-item:nth-child(1) {
    padding: 18px 24px;
}

.amazing-images {
    display: flex;
    flex-wrap: wrap;
}
.amazing-img-item:first-child {
    border-top: 6px solid #18CFAB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 42px 85px 34px 78px;
    border-top: 6px solid #18CFAB;
}

.amazing-btn {
    box-shadow: none;
    background-color: #18CFAB;
    text-transform: uppercase;
    margin: 70px 0 99px;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
}
.btn:nth-child(4) {
    padding: 18px 32px;
}

.svg-plus {
    display: inline-block;
    position: relative;
    right: 13px;
}

.creative-text{
    padding: 24px 0 22px;
}

.amazing-work {
    background-color: #E9EDEF;
}

.news-dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2;
    max-width: 1160px;
    gap: 35px;
    width: 100%;
}

.corner-block {
    display: block;
    text-align: center;
    align-items: center;
    height: 70px;
    width: 68px;
    background-color: #203E38;
    position: absolute;
    top: 0px;
    right: 0;
    color: #fff;
}

.corner-block p:first-child {
    margin-top: 16px;
}

.news-item a {
    position: relative;
}
.news-item a p {
  margin: 8px 11px;
}

.news-item-content {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #717171;
}

.news-item-comment {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #777777;
}

.news-item-comment span {
    margin: 0 10px;
}

.background-people-say {
    background: url(../img/Sections_background/section-3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 98px 0 104px;
    margin-top: 130px;
}

.title-people-say {
    color: #fff;
}

.title-people-say::before {
    left: 195px;
}

.title-people-say::after {
    left: 205px;
}

.svg-quotes {
    margin-bottom: 36px;
}

.people-text {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}

.people-img-title {
    padding: 37px 0;
    text-align: center;
    color: #BBBBBB;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
}

.people-img-title span {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
    text-transform: uppercase;
}
.main-people-img,
.people-item-img {
    border-radius: 80%;
    background-color: rgba(31, 218, 181, .2);
}

.main-people-img {
    padding: 12px;
    width: 166px;
    height: 166px;
    margin-bottom: 51px;
}

.people-item-img {
    padding: 6px;
    width: 60px;
    height: 60px;
}
.people {
    justify-items: center;
}

.people-list .people-item:nth-child(2) {
    margin: 0 13.5px 0 27px;
}

.people-list .people-item:nth-child(3) {
    margin: 0 27px 0 13.5px;
}


.footer-content {
    background-color: #22353F;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    padding: 48px 0;
    color: #AEAEAE;
}

.footer-content span {
    color: #18CFAB;
}